.portfolio {
  min-height: 100vh;
}

/* Navbar */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d1117;
  border-bottom: 1px solid #21262d;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #c9d1d9;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #58a6ff;
}

/* Home */
#home {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

#home h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

#home p {
  font-size: 24px;
  color: #8b949e;
}